/*VIDEOOOOOOOOOOO*/
header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-color: skyblue;
  }
  
  header video {
    position: absolute;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  /*DOS COLUMNASSSSSSSSSSSSSSSSSSSSS*/

  .columna2{
    width: 100%;
    height: 30em;
    background-color: rgb(13, 0, 199);
    display: grid;
    grid-template-columns: 50% 50%;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.contenedor-columna2{
    margin-top: 5em;
    margin: 5%;
    margin-top: 20%;
}

.columna2 .contenedor-columna2 >p{
    color: white;
}

.columna2 .contenedor-columna2 >h2{
    color: white;
}

.columna2-vacio > img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30em; 
}


/*SECCION DEL CHECKKKKKKKKKKK*/

.check{
    width: 100%;
    height: 30em;
    background-image: url(fondo.jpg);
    display: grid;
    grid-template-columns: 50% 50%;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
}

.contenedor-check{
    margin-top: 5em;
}

.check .contenedor-check >p{
    margin-left: 2.5em;
    color: white;
}

.check .contenedor-check >h2{
    color: rgba(1, 230, 230, 0.664);
}



/*MENUUUUUUUUUUUUUUUUUUUUUUUU*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*FOOTERRRRRRRRRRRRRRRRRRRRRRRRRR*/

footer{
    width: 100%;
    height: 25em;
    background-color: black;
    text-align: center;
    color: white;
    
}



